name: sendmail
on: push

jobs:
  mail:
    runs-on: ubuntu-latest

    steps:
      - name: print hello world
        run: echo "hello world"

      - name: sending a mail
        if: ${{ always() }}
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: ${{ github.job }} job of ${{ github.repository }} has ${{ job.status }}
          body: ${{ github.job }} job in workflow ${{ github.workflow }} of ${{ github.repository }} has ${{ job.status }}
          to: sridharraj2810@gmail.com
          from: "Arundev <${{ secrets.EMAIL_USERNAME }}>"
